<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts:: head"></head>

<body>

<nav th:replace="layouts:: navbar"></nav>



<div class="container">
    <h4>Current Projects</h4>
    <hr>
    <table class="table table-bordered table-striped">
    	<thead class="thead-dark">
    		<tr>
    			<th>Project Name</th>
    			<th>Project Stage</th>
    			<th>Description</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr th:each="project: ${projects}">
    			<td th:text="${project.name}"></td>
    			<td th:text="${project.stage}"></td>
    			<td th:text="${project.description}"></td>
    		</tr>
    	</tbody>
    </table>
</div>
<hr>
<div class="container">
    <h4>Current Employees</h4>
    <hr>
    <table class="table table-bordered table-striped">
    	<thead class="thead-dark">
    		<tr>
    			<th>FirstName</th>
    			<th>LastName</th>
    			<th>Email</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr th:each="employee: ${employees}">
    			<td th:text="${employee.firstName}"></td>
    			<td th:text="${employee.lastName}"></td>
    			<td th:text="${employee.email}"></td>
    		</tr>
    	</tbody>
    </table>
</div>
</body>

</html>